/* Main Page */

:root{
    --primary-text-color:#757575;;
    --secondary-text-color: #212121;
    --hover-color:#2196F3;
    --primary-bcg-color: #F5F4FA;
}

body {
color: var(--primary-text-color);
background-color:#FFFFFF;
font-family: 'Roboto';
}
ul {
    list-style: none;
}
.visually-hidden{
    position:absolute;
    white-space:nowrap;
    width:1px;
    height: 1px;
    overflow: hidden;
    border:0;
    padding:0;
    clip: rect(0000);
    clip-path: inset(50%);
    margin: -1px;
}
/* Logo */
.logo{
    color: #2196F3;
text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.logo-part{
    color: black;
}
/* Navigation */
.nav .link{
    color: var(--secondary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav .link:hover, 
.nav .link:focus{
    color: var(--hover-color);
}
.nav .link.current{
    color: var(--hover-color);
}
.header-contacts .contacts{
    color: #757575;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-decoration: none;
}
.contacts:hover,
.contacts:focus{
color: var(--hover-color) ;
}
/* Hero */
.hero{
    background-color: #2F303A;
}
.hero-title{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* text-align: center; */
    letter-spacing: 0.06em;
    text-transform: uppercase
}
/* Button */
.main-button{
    color: #FFFFFF;
    background-color: #2196F3;
    border: 0;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
}
.main-button:hover{
    color: #FFFFFF;
    background-color: #188CE8;
    border: 0;
    
}
.button{
color: var(--secondary-text-color);
background-color: #F5F4FA;
border: 0;
font-family:'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.button:hover, 
.button:focus{
    color: #FFFFFF;
    background-color: var(--hover-color);
}
.cursors{
    cursor: pointer;
}
/* Our activity */
.activity-title{
   color: var(--secondary-text-color);
font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}


/* Advantages */
.advantages{
    background-color: #F5F5F5;;
}
.advantages-list{
font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.advantages-list h3{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/* Team */
.team{
    background-color: #F5F4FA;
}
.team h3{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: var(--secondary-text-color);
}
.team-title{
    color: var(--secondary-text-color);
font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}
.team-photos{
    background-color: #FFFFFF;
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}
/* Footer  */
.footer{
    background-color: #2F303A;
}
.footer .logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer .logo-part{
    color: #FFFFFF;
}
.footer .contacts{
color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        text-decoration: none;
}
.footer .map{
color: #FFFFFF;
text-decoration: none;
font-style: normal;
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.footer .map:hover,
.footer .map:focus{
    color: var(--hover-color);
}
.footer .contacts{
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
}
.footer .contacts:hover,
.contacts:focus {
    color: var(--hover-color);
}

/* Portfolio */
.portfolio-cards h3{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    background-color: #FFFFFF;
    color:var(--secondary-text-color);
}

.portfolio-text{
    font-family: 'Roboto';
        font-size: 16px;
        line-height: 30px;
}